.circle{
    width: 43vw;
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 33%);

}


.card{
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 33%);
}

.brd{
    width: 25vw;
}

.toogle{ 
    display: none !important;
}

.alert{
    display: none !important;
}
.toogle.is-visible{
    display: block !important;
}

.alert.is-visible{
    display: block !important;
}

.commentImg{
   width: 60%;
   box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 33%);

}

@media screen and (min-width: 600px){
   .circle{
       width: 40%;
   } 
}



@media screen and (min-width: 770px){
    .commentImg{
        width: 55%;     
     }
 }


 @media screen and (min-width: 800px){
    .commentImg{
        width: 45%;     
     }
 }
